#Data Types and Structures Questions Assignment

1. What are data structures, and why are they important?

  - data structures in python act as containers to store data inside of it in an efficient manner there are multiple types of data structures some of them are : lists,arrays,dictionaries,sets and tuples
  - they are important since they help in organizining ,storing and retrieving the data for different purposes efficiently.

2. Explain the difference between mutable and immutable data types with examples?

  - mutable in python refers to an data type that can be changed or manipulated directly some of the data structures which are mutable are : lists,dictionary,sets and arrays
  <br>e.g<br>
  lst=[5,34,56,67,7]
  lst[0]=15 // this will update the first element from list: 15,34,56,67,7
  
  - immutability opposite to mutable refers to the characteristic of an datastructure that provides no flexibility in data modification such data types are memory efficient and fast.<br>e.g<br>tup=(5,7,8,9)
  tup[0]=9 // this will throw an error since tuple doesnt allow it.

3. What are the main differences between lists and tuples in Python?

  - lists are mutable data structures giving the flexibility to any changes or manipulations since they store extra bit of space for future use case but this also makes them memory inefficient and slow.
  - tuples are immutable data structures and due to their strict and tight data storing nature they dont allow any changes or modifications once generated and can only be manipulated by creating new tuples due to this they are faster than list data strucrture and more memory efficient.

4.Describe how dictionaries store data?

  - dictionaries in python work in key value model where keys are immutable part of the data structure where as values are mutable part of it.
  <br>
  e.g<br>dict={"name":"kamran","last_name":"khan"}

5. Why might you use a set instead of a list in Python?

  - sets are unordered mutable data structures on python they help in sort out removing repeated data unlike lists which give all this makes it efficient and faster than the lists.

6. What is a string in Python, and how is it different from a list?

  - Strings are a collection of homogeneous characters datatype in python which are also immutable and cannot be modified once created
  -lists are a datastructure with collection of heterogeneous datatypes such as int,char,string and boolean etc ,lists are also flexible and mutable.

7. How do tuples ensure data integrity in Python?

  - tuples are immutable datastructure in python which once created does not allows any changes or modifications, any attempts to change the code will through an error and will cause attempts in vain this efficiently protects the data and helps in data integration.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - a hash table is a datastructure model which stores data in an key value pair this makes data extraction,organization,storage and manipulation very efficient dictionaries are the implementation of hash tables in python.

9. Can lists contain different data types in Python?

  - Yes, Lists allows homogeneous data storage in it such as strings,int,float,boolean,arrays,char and lists<br>e.g<br>lst=['hi',56,89.90,True,'A']

10. Explain why strings are immutable in Python?

  - strings are immutable in python because of its data structure type which fixes the memory allocation of each character this ensures memory efficiency,data integrity/security and optimized data  extraction

11. What advantages do dictionaries offer over lists for certain tasks?

  - dictionaries offer more memory efficiency,optimized/fast data extraction and easier data manipulation due to key value pairs which helps in selection of data to changes, these all features makes dictionaries more preferable compared to list data structures.

12. Describe a scenario where using a tuple would be preferable over a list?

  - Let's Imagine that we are building an customer verification id for each consumer in an grocery delivery app and in that app users have diverse budget of savings saved in their wallet for future use so having an list data structure will make the system susceptible for hacking or phishing attacks putting other users data at risk to avoid these security threats tuples should be used to protect the data since they are immutable in nature.

13. How do sets handle duplicate values in Python?

  - Sets are mutable datastructures that are unordered in natures also that any duplicate values in a set are ignored by the compiler and only produces the original first instance and ignores the rests and also the output of the set is also not guranteed and may change on each compilation of the code .
  <br>e.g<br>s={'hi','bye','hello','hi'} // hi,bye,hello

14. How does the “in” keyword work differently for lists and dictionaries?

  - in keyword in lists iterates over the sequence of the datasets till the results are found and returns True if found and False if failed <br>e.g<br>
  lst=[3,6,7,77,0]
  <br>print(6 in lst) // True
  - in keyword in dictionaries works little different than the lists since dictionaries are constructed over the hash table model containing key value pairs so when searched with in keyword with .values() in a dictionary it searches only for key and if the data is present in the value of the key using an .items() would search the data in both key value pairs and returns the results.<br>
  e.g<br>my_dict = {"a": 1, "b": 2, "c": 3}<br>print(1 in my_dict.values())  # True<br>print(("a", 1) in my_dict.items())  # True

15. Can you modify the elements of a tuple? Explain why or why not.

  - No we cant directly modify the tuple elements since the tuple datastructure is made immutable and has a fixed memory allocation but tuples can be manipulated indirectly or by creating an new variable containing the data from the original variable.

16. What is a nested dictionary, and give an example of its use case?

  - a nested dictionary refers to a dictionary within a dictionary these dictionary contains one or more dictionary within itself these are contained in a hierarchical manner storing the data in levels.<br>e.g<br>
  ds={'name':'kamran','age':20,'grades':{'python':'A','AWS':'A'},'course':'pwskills'}

17. Describe the time complexity of accessing elements in a dictionary?

  - dictionary has one of the fastest data extraction or element access due to its hash table data storage which extracts or accesses the data through the key which makes it efficient and fast in average cases it O(1) and in worst case O(n).

18. In what situations are lists preferred over dictionaries?

  - Lists are most preferable where constant modifications like creation,reading,updation or deletion is required without needing to handle key value informations also that lists give out the data in sequential ordered manner which is preferred for small datasets.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Dictionaries are made on hash table model for faster element accessing through the keys since the dictionaries do not support indexing and they are made for faster data retrival through the keys this makes dictionaries output unordered since their primary focus is to retrive the data in the fastest mode.
  - this makes the data retrieval process extremely fast of O(1) compared to other datastructures.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - lists are ordered dataset with indexation being the method of data extraction however this method gets complicated when the indexation is unknown or not traceble to extract exact data.<br>e.g<br>lst=['hi',45,True,34.5]<br>lst[3]// 34.5
  - dictionaries in python use hash table model which stores the data in key value pairs or in hierarchical manner this eliminates any mistakes in data extraction and makes it extremely efficient and fast compared to lists. <br>dct={'name':'kamran','age':22}<br>print(dct['name']) // output: kamran

#Practical Questions

1. DP Write a code to create a string with your name and print it?

In [1]:
name='kamran'
print(name)

kamran

2.Write a code to find the length of the string "Hello World"?

In [2]:
word="Hello World"
print(len(word))

11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [7]:
slc="Python Programming"
print(slc[:3:])

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [10]:
s="hello"
print(s.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [12]:
a="I like apple"
print(a.replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [15]:
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [17]:
l=[1,2,3,4]
print(l)
l.append(10)
print(l)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [19]:
ls=[1,2,3,4,5]
print(ls)
ls.remove(3)
print(ls)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [21]:
lstt=['a','b','c','d']
lstt[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [22]:
num_list=[10,20,30,40,50]
print(num_list)
num_list.reverse()
print(num_list)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [23]:
tp=(100,200,300)
print(tp)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [24]:
col_tup=('red','green','blue','yellow')
print(col_tup[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [25]:
min_tp=(110,20,5,15)
print(min(min_tp))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
animal_tup=('dog','cat','rabbit')
print(animal_tup.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
fruit_tuple=('apple','banana','kiwi')
print('kiwi' in fruit_tuple)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [29]:
set_ele={'a','b','c'}
print(set_ele)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [30]:
set_ele={1,2,3,4,5}
print(set_ele)
set_ele.clear()
print(set_ele)

{1, 2, 3, 4, 5}
set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [31]:
set_ele={1,2,3,4}
print(set_ele)
set_ele.remove(4)
print(set_ele)

{1, 2, 3, 4}
{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [32]:
set_one={1,2,3}
set_two={3,4,5}
print(set_one.union(set_two))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [33]:
set_one={1,2,3}
set_two={2,3,4}
print(set_one.intersection(set_two))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [34]:
dict_data={'name':'kamran','age':22,'city':'lahore'}
print(dict_data)

{'name': 'kamran', 'age': 22, 'city': 'lahore'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [36]:
dict_data={'name':'John','age':25}
print(dict_data)
dict_data['country']='USA'
print(dict_data)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [37]:
dict_data={'name':'Alice','age':30}
print(dict_data['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [38]:
dict_data={'name':'Bob','age':22,'city':'New York'}
print(dict_data)
dict_data.pop('age')
print(dict_data)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [39]:
dict_data={'name':'Alice','city':'Paris'}
print('city' in dict_data)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Farhan', 'age': 20, 'course': 'BCA'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [40]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()

print("Sorted List:", numbers)

Sorted List: [25, 36, 46, 48, 91]

28. Write a code to create a list with strings and print the element at the third index.

In [41]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [42]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [43]:
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'cherry'}